<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ========== Page Title ========== -->
    <title>Scrize</title>

<!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->

    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/icofont/icofont.min.css') }}">
     <link rel="stylesheet" href="{{url_for('static',filename='validnavs.css') }}">
     <link rel="stylesheet" href="{{url_for('static',filename='font-awesome.min.css') }}">
     <link rel="stylesheet" href="{{url_for('static',filename='font-awesome.min.css') }}">
     <link rel="stylesheet" href="{{url_for('static',filename='dash.css') }}">

    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->

</head>
<body>

  <div class="container ">
            <div class="row align-items-center">
                        <div class="col-lg-12 text-center" >
                            <div class="login align-self-center">
                                <h2>Scrize</h2>
                                <br>
                                <div class="logindiv align-self-center">
                                <div class="loginform">
                                    <form method="post">
                                        <div class="formgroup">
                                            <h3> Forgot your password?</h3>
                                            <p>Enter your email to send you a link to reset your password </p>
                                            <input type="email" placeholder="Enter your email" name="email" id="email" required>
                                        </div>
                                        <button type="submit" class="btn btn-secondary btn-block"> Reset Password</button>
                                    </form>
                                </div>

                                </div>

                            </div>

                        </div>
            </div>
    </div>
   <script src="{{url_for('static',filename='js/jquery.min.js') }}"></script>
</body>
</html>