
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
   <!-- Page Title -->
   <title>Dashmin - Multipurpose Bootstrap Dashboard Template</title>

   <!-- Meta Data -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- Favicon -->
   <link rel="shortcut icon" href="../../../assets/img/favicon.png">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

   <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->


   <link rel="stylesheet" href="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/fonts/icofont/icofont.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/plugins/apex/apexcharts.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

   <!-- ======= END MAIN STYLES ======= -->

</head>

<body>
         <!-- End Sidebar -->

    {% include "nav.html" %}

          <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-30">
                                <div class="card-body">
                                    <div class="d-sm-flex justify-content-between align-items-center">
                                        <h4 class="font-20">History of Generated Content</h4>

                                        <div class="d-flex flex-wrap">
                                            <!-- Date Picker -->

                                            <!-- End Date Picker -->


                                            <!-- Dropdown Button -->

                                         <!-- End Dropdown Button -->
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <!-- Invoice List Table -->
                                    <table class="text-nowrap bg-white dh-table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for note in view_note %}
                                            <tr>

                                                <td> {{note.title}}</td>
                                                <td><a href="/notes/{{note.id}}">Edit <i class="icofont-arrow-right"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>



         </div>

      <!-- End Main Wrapper -->


      <!-- End Footer --><!-- End wrapper -->


   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->






   <script src="{% static 'assets/js/jquery.min.js' %}"></script>
   <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
         <script src="{% static 'assets/js/script.js' %}"></script>
   <script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
   <script src="{% static 'assets/plugins/apex/custom-apexcharts.js' %}"></script>
   <script src="{% static 'assets/plugins/apex/apexcharts.min.js' %}"></script>

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>