<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Amit Basunia">
    <title>Word Wav</title>
    

    <!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="static/fonts/icofont/icofont.min.css" rel="stylesheet">
 
<link href="static/css/home.css" rel="stylesheet">
<style>
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
    
    <!-- Custom styles for this template -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid "> 
        <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="static/image/Logo.svg" alt="logo" >
        </a> 
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"><i class="icofont-navigation-menu"></i></span>
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav mr-auto pl-lg-4">
        <li class="nav-item px-lg-2 active"> <a class="nav-link" href="#"> About Us</a> </li>
        <li class="nav-item px-lg-2"> <a class="nav-link" href="#">What you can do</a> </li>
        <li class="nav-item px-lg-2"> <a class="nav-link" href="#">Pricing</a> </li>
        <li class="nav-item px-lg-2"> <a class="nav-link" href="#">Tutorial</a> </li>
        <li class="nav-item px-lg-2"> <a class="nav-link" href="#">Blog</a> </li>

        </ul>
        <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
        <li class="nav-item"> <a class="nav-link" href="/login">
          Sign in
        </a> </li>
        <li class="nav-item"> <a class="btn btn-md ctbutton" href="/register">
        Get Started
        </a> </li>
   
    
        </ul>
        </div>
        </div>
        </nav>

        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
            </ul>
            
            <!-- The slideshow -->
     
              <div class="carousel-item-active"style="height: 65rem;background: url(static/image/robot.png)right top no-repeat;">
                <div class="container-fluid h-100">
                    <div class="row justify-content-start align-items-end h-100 ml-auto">
                        <div class="herosecond">
                            <h2 style="font-weight:500;color: #DD6275;">Word Wav</h2>
                            <h2>The best AIContent Generator Tool</h2>
                            <p>Create content 12x faster with our artificial intelligence. Word wave helps you to create high-quality content, in just a few seconds.</p>
                            <a class="btn btn-md ctbutton" href="/register">Start For Free
                            </a>
                            <span class="color color--blue" data-value="1"></span>
                            <span class="color color--orange" data-value="1"></span>
                            <span class="color color--green" data-value="1"></span>
                            <span class="color color--white" data-value="1"></span>                
                        </div>
                    </div>
                  </div>
              </div>
           
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
          <!-- This feature list-->
          <div class="container-fluid">
            <div class="row text-center features">
                <div class="col-md-3 feature">
                    <h3><span><i class="icofont-thumbs-up" style="color:#DD6275"></i></span> Easy</h3>
                    <p>At first glance, our AI software may seem daunting and complicated. With its advanced algorithms and complex neural networks.</p>
                </div>
                <div class="col-md-3 feature">
                    <h3><span><i class="icofont-speed-meter" style="color:#DD6275"></i></span> Quick</h3>
                    <p>With our AI software, you can create engaging content at the click of a button. Unlike other similar programs on the market,</p>
                </div>
                <div class="col-md-3 feature">
                    <h3><span><i class="icofont-stylish-down" style="color:#DD6275"></i></span> Cheap</h3>
                    <p>At first glance, our AI software may seem like an expensive investment. After all, with an option to generate unlimited content.</p>
                
                </div>
                <div class="col-md-3 feature">
                    <h3><span><i class="icofont-safety" style="color:#DD6275"></i></span> Reliable</h3>
                    <p>With our powerful and reliable AI software, you can create engaging content for your business at any time, from anywhere.</p>
                </div>
            </div>
          </div>

          <!-- About Us-->
        <div class="container-fluid ">
            <div class="row">
                <h2 class="custom"><span style="font-weight:500;color: #DD6275;"">About</span> Us</h2>
                <p>When it comes to writing content, there are many different options available. While some people may prepare content using basic writing software, pen or paper. The advances in artificial intelligence have made it easier than ever to use AI software for creating top-quality, engaging content. Whether you need help with research, organization, grammar, or all of the above, our powerful AI software has everything you need to create great writing every time.
                    With our intuitive interface and user-friendly design, it has never been easier to take advantage of the power and efficiency of AI technology. Our advanced algorithms are able to scour databases and websites in order to gather information quickly and accurately, allowing you to spend more time crafting high-quality essays, articles, and other forms of writing. And with our industry-leading editing tools built right into the software, you can rest assured that your work will be clean and mistake-free.
                    So why choose our AI software for your writing needs? Whether you're working on a school assignment or a professional project, our cutting-edge tools will help you achieve success like never before. Try out our advanced AI software today and see the difference for yourself!</p>
            </div>
        </div>
        <!--The html below this line is for display purpose only-->
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="custom">What type of content you can generate with </br>
                    <span style="font-weight:500;color: #DD6275;">Word Wav</span></h2>
                    <p>You can write the following content for your business.</p>

                </div>
                <div class="col-md-4">
                    <div class="row justify-content-center align-items-center h-100">
                       
                        <a href="#" class="btn btn-light btn-lg col-md-10 rewrite" style="background-color:transparent"> <img src="static/image/Group.png" height="30px" width="30px">  Article Rewriter</a>
                        <a href="#" class="btn btn-light btn-lg col-md-12 rewrite" style="background-color:transparent"><img src="static/image/blogger.png" height="30px" width="30px"> Rephrase</a>
                        <a href="#" class="btn btn-light btn-lg col-md-10 rewrite" style="background-color:transparent"><img src="static/image/instagram.png" height="30px" width="30px"> Instagram Hashtags</a>
                        <a href="#" class="btn btn-light btn-lg col-md-9 rewrite" style="background-color:transparent"><img src="static/image/facebook.png" height="30px" width="30px"> Facebook Ads V2</a>
                        <a href="#" class="btn btn-light btn-lg col-md-8 rewrite" style="background-color:transparent"><img src="static/image/linkedin.png" height="30px" width="30px"> Linkedin Ads</a>

                    </div>
        
                </div>
            </div>
        </div>
        
        <div class="container-fluid mt-5 mb-5">
            <div class="row mt-5 mb-5">
                <h2 class="custom">Unbelievable <span style="font-weight:700;color: #DD6275;">Pricing</span></h2>
                <h3 style="color: #5E779F;">Choose a plan which suits you best Join over 1,000,000+ writing with Word wave</h3>
            </div>
            <div class="row justify-content-last align-items-end">
                <div class="col-md-4">
                    <div class="card p-3 mt-3 box-shadow first">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Starter</h4>
                          </div>
                          <div class="card-body">
                            <h2><b><span style="font-size: 4rem;font-weight:700;color: #DD6275;">$6 </span></b><small class="text-muted">Per Month</small></h2>
                            <p style="font-size: 1.1rem;"><b>For individuals looking to get started.</b></p>
                            <ul class="list-unstyled mt-3 mb-4 price">
                              <li><i class="icofont-check-circled"></i>  25k Words</li>
                              <li><i class="icofont-check-circled"></i>  Unlimited Projects</li>
                              <li><i class="icofont-check-circled"></i>  Active Custom Support</li>
                              <li><i class="icofont-check-circled"></i>  All 12+ Content Types</li>
                            </ul>
                            <button type="button" class="btn btn-md btn-block ctbutton">Get started</button>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mt-3 box-shadow second">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">All In</h4>
                          </div>
                          <div class="card-body">
                            <h2 style="color: white;"><b><span style="font-size: 4rem;font-weight:700;">$50 </span></b><small>Per Month</small></h2>
                            <p style="font-size: 1.1rem;"><b>For professionals & marketing teams.</b></p>
                            <ul class="list-unstyled mt-3 mb-4 price">
                              <li><i class="icofont-check-circled"></i>  Unlimited Words</li>
                              <li><i class="icofont-check-circled"></i>  Unlimited Projects</li>
                              <li><i class="icofont-check-circled"></i>  Active Custom Support</li>
                              <li><i class="icofont-check-circled"></i>  All 12+ Content Types</li>
                              <li><i class="icofont-check-circled"></i>  Multiple Languages</li>
                              <li><i class="icofont-check-circled"></i>  Powerful Al Algorithm</li>
                              <li><i class="icofont-check-circled"></i>  70+ AI Templates</li>
                              <li><i class="icofont-check-circled"></i>  1-Click WordPress Export</li>
                            </ul>
                            <button type="button" class="btn btn-block ctbutton">Get started</button>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mt-3 box-shadow third">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Set-up</h4>
                          </div>
                          <div class="card-body">
                            <h2><b><span style="font-size: 4rem;font-weight:700;color: #DD6275;">$12 </span></b><small class="text-muted">Per Month</small></h2>
                            <p style="font-size: 1.1rem;"><b>For professionals & marketing teams.</b></p>
                            <ul class="list-unstyled mt-3 mb-4 price">
                                <li><i class="icofont-check-circled"></i>  Unlimited Words</li>
                                <li><i class="icofont-check-circled"></i>  Unlimited Projects</li>
                                <li><i class="icofont-check-circled"></i>  Active Custom Support</li>
                                <li><i class="icofont-check-circled"></i>  All 12+ Content Types</li>
                                <li><i class="icofont-check-circled"></i>  Multiple Languages</li>
                                <li><i class="icofont-check-circled"></i>  Powerful Al Algorithm</li>
                            </ul>
                            <button type="button" class="btn btn-block ctbutton">Sign up for free</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5 mb-5">
            <div class="row text-center justify-content-center align-items-center">
                <h2 class="custom mb-5">Check out What we have in the<br><span style="font-weight:700;color: #DD6275;">Tutorials section</span></h2>
                <img src="static/image/Bvideo.png" class="video">
            </div>
        </div>
        <div class="container-fluid mt-5 mb-5">
            <div class="row justify-content-start align-items-center mt-5 mb-5">
                <div class="col-md-3">
                    <h2 class="custom mb-5">Our<br><span style="font-weight:700;color: #DD6275;">Blogs</span></h2>
                </div>
                <div class="col-md-9">
                    <img src="static/image/Words.png">
                    <p style="font-size: 2rem;" class="text-center">Check out our blog to learn more tips on how to use our software</p>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5 mb-5">
            <div class="row justify-content-start  mt-5 mb-5">
                <div class="col-md-8">
                    <img src="static/image/Rectangle 409.png" class="text-center mb-3">
                    <div class="content">
                        <h3>How to Write a Full Article in Less Than 2 Minutes</h3>
                        <p class="small">October 17.2022</p>
                        <p>When it comes to writing content, there are many different options available. While some people may prepare content using basic writing software, pen or paper. The advances in artificial intelligence have made it easier than ever to use AI software for creating top-quality, engaging content. Whether you need help with research, organization, grammar, or all of the above <span style="color: #DD6275;" >Read more....</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                <div class="content">
                    <h3>How to Write a Full Article in Less Than 2 Minutes</h3>
                    <p class="small">October 17.2022</p>
                    <p>When it comes to writing content, there are many different options available. While some people may prepare content using basic writing software, pen or paper. The advances in artificial intelligence have made it easier than ever to use AI software for creating top-quality, engaging content. Whether you need help with research, organization, grammar, or all of the above <span style="color: #DD6275;" >Read more....</span></p>
                </div>
                <div class="content">
                    <h3>How to Write a Full Article in Less Than 2 Minutes</h3>
                    <p class="small">October 17.2022</p>
                    <p>When it comes to writing content, there are many different options available. While some people may prepare content using basic writing software, pen or paper. The advances in artificial intelligence have made it easier than ever to use AI software for creating top-quality, engaging content. Whether you need help with research, organization, grammar, or all of the above <span style="color: #DD6275;" >Read more....</span></p>
                </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row text-center justify-content-center align-items-center">
                <h2 class="custom mb-5">So why are you<span style="font-weight:700;color: #DD6275;"> waiting?</span></h2>
                <p>When it comes to writing content, there are many different options available. While some people may prepare content using basic writing software, pen or paper. The advances in artificial intelligence have made it easier than ever to use AI software for creating top-quality, engaging content</p>
                <button type="button" class="btn btn-md ctbutton">Get Started</button>

            </div>
        </div>
<footer class="bg-white">
        <div class="container mt-5 bg-white">
            <div class="row justify-content-center align-items-center pt-5">
               <div class="col-4">
                <img src="static/image/Logo.svg">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
               </div>
               <div class="col-4">
                <h3>Quick Links</h3>
                <ul class="list-unstyled">
                    <li style="margin: 1rem 0;  "> <a href="#"> About Us</a> </li>
                    <li style="margin: 1rem 0; "> <a href="#">What you can do</a> </li>
                    <li style="margin: 1rem 0; "> <a href="#">Pricing</a> </li>
                    <li style="margin: 1rem 0; "> <a href="#">Tutorial</a> </li>
                    <li style="margin: 1rem 0; "> <a href="#">Blog</a> </li>
                    <li style="margin: 1rem 0; "> <a href="#">Privacy Policy</a> </li>
                </ul>
               </div>
               <div class="col-4">
                <h3>Get in touch</h3>
                <p>
                Phone</br>
                <b>1-234-567-8910</b>
            </br>
            Email
        </br>
        <b>kashanbhatti00004@gmail.com</b>
    </br>
    Address
</br>
<b>Chandani chok to china ST#8</b>
                </p>
               </div>

            </div>
            <div class="row m-2">  
                <div class="col-md-12 copy">  
                <p class="text-center"> © Copyright 2022 -WordWav.  All rights reserved. </p>  
                </div>
        </div>
    </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


  </body>
</html>
