{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'payment.css' %}">
    <title>Checkout</title>
</head>
<body>
    <div class="payment-card">
        <div class="item-details">
            <h1>Checkout Window</h1>
        
        
            <h2>Package Name: {{ paypal_dict.item_name }}</h2>
            <h3>Price: {{ paypal_dict.amount }}</h3>
            </div>
        <div class="paypal-form">    
            {{ form.render }}
        </div>
    </div>
</body>
</html>
