
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
   <!-- Page Title -->
   <title>Support</title>

   <!-- Meta Data -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- Favicon -->
   <link rel="shortcut icon" href="../../../assets/img/favicon.png">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

   <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->


   <link rel="stylesheet" href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.css' %}">
   <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'plugins/apex/apexcharts.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <!-- ======= END MAIN STYLES ======= -->

</head>

<body>
         <!-- End Sidebar -->

    {% include "nav.html" %}




      <!-- End Main Wrapper -->





      <!-- End Footer --><!-- End wrapper -->


   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->






   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
         <script src="{% static 'js/script.js' %}"></script>
   <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
   <script src="{% static 'plugins/apex/custom-apexcharts.js' %}"></script>
   <script src="{% static 'plugins/apex/apexcharts.min.js' %}"></script>

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>